<div class="con-active con-border">
    <h4 class="con-active-head">活跃用户区域</h4>
    <div class="active-chart-wrap">
        <!--插件区域 str-->
        <div class="active-chart">
            <!--<img src="images/active-map.png" style="width: 116px;height: 79px;position: absolute;top: 0px;z-index: 9; top: 26px;left: 17px;" />-->
            <img #wad src="images/wad.png" style="display: none;" />
            <!--<canvas  #wad width="10" height="10" style="border:1px solid #c3c3c3;"></canvas>-->
            <!--<img #wad src="images/active-chart.png" style="display: none;" />-->
            <!--<div #activeMap style="width:154px;height: 118px;position: absolute;top: 0px;z-index: -1;"></div>-->
            <div #activeMap style="width:154px;height: 118px;position: absolute;top: 0px;z-index: 10;"></div>
        </div>
        <!--插件区域 end-->
    </div>
    <div class="active-txt">
        <ul>
            <li>北京:100000</li>
            <li>上海:100000</li>
            <li>深圳:100000</li>
            <li>南京:100000</li>
        </ul>
    </div>
    <!--四角 小签str-->
    <i class="tag tag-tl"></i>
    <i class="tag tag-tr"></i>
    <i class="tag tag-bl"></i>
    <i class="tag tag-br"></i>
    <!--四角 小签end-->
</div>