<div class="rsection-head">
    <i class="con-rectangle" [ngStyle]="{'background-color': legendColor}"></i>
    <h4>{{name}}</h4>
</div>
<div class="rsection-content clearfix">
    <!--地图插件区域 str-->
    <div class="rsection-cleft">
        <div #chartDiv style="width: 100%;height:100%;"></div>
    </div>
    <!--地图插件区域 end-->
    <div class="rsection-cright">
        <ul>
            <li>
                <span>响应时间:{{value}}{{unit}}</span>
                <i></i>
            </li>
            <li>
                <span>请求次数:{{requestCount | unitConverter}}</span>
                <i></i>
            </li>
            <li>
                <span>请求成功:{{successCount | unitConverter}}</span>
                <i></i>
            </li>
            <li>
                <span>请求成功率:{{(successCount/requestCount)|percentage}}%</span>
                <i></i>
            </li>
        </ul>
    </div>
</div>
