
<h3>CDN-网宿</h3>
<div class="per-cdn-con">
    <!--CDN地图 str-->
    <div class="per-cdn-map"><img src="../app/common/cdn-map/images/cdn-map.png"></div>
    <!--CDN地图 end-->
    <ul class="per-cdn-txt per-cdn-grey clearfix">
        <li>
            <h4>响应时间</h4>
            <span>-</span>
        </li>
        <li>
            <h4>可用率</h4>
            <span>-</span>
        </li>
        <li>
            <h4>请求次数</h4>
            <span>-</span>
        </li>
    </ul>
    <div class="per-cdn-btns">
        <span class="per-grey-line"></span>
        <a class="per-cdn-del" href="javascript:void(0);">删除</a>
        <a class="per-cdn-edit" href="javascript:void(0);">修改</a>
    </div>
    <!--CDN新增配置 str-->
    <div class="per-cdn-new-wrap">
        <a class="per-cdn-new" href="javascript:void(0);">新增配置</a>
        <!--新增配置弹出层 str-->
        <div class="cdn-new-layer" style="display: none;">
            <div class="cdn-new-ltitle">请配置CDN关联文件</div>
            <div class="cdn-new-lcon">
                <div class="clearfix">
                    <span class="cdn-new-ltxt">CDN厂商:</span>
                    <div class="cdn-new-check-wrap">
                        <div class="cdn-new-check-box clearfix">
                            <input class="cdn-new-checked" type="text" placeholder="网宿">
                            <button class="cdn-new-check-btn" type="button"></button>
                        </div>
                        <div class="cdn-new-check-list">
                            <ul>
                                <li>应用名称详情</li>
                                <li class="cdn-new-check-checked">应用名称详情</li>
                                <li>应用名称详情</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <span class="cdn-new-ltxt">域名列表:</span>
                    <div class="cdn-new-check-wrap">
                        <div class="cdn-new-check-box clearfix">
                            <input class="cdn-new-checked cdn-domain-txt" type="text" placeholder="p12.jmstaic.comhahahahhhheeeeeeeessssss">
                            <button class="cdn-new-check-btn" type="button"></button>
                        </div>
                        <div class="cdn-new-check-list cdn-domain-list" style="display: block;">
                            <ul>
                                <li>
                                    <span>应用名称详情</span>
                                    <i class="cdn-domain-checked"></i>
                                </li>
                                <li class="cdn-new-check-checked">
                                    <span>应用名称详情</span>
                                    <i class="cdn-domain-checked"></i>
                                </li>
                                <li>
                                    <span>应用名称详情</span>
                                    <i class="cdn-domain-checked"></i>
                                </li>
                                <li>
                                    <span>应用名称详情</span>
                                    <i class="cdn-domain-checked"></i>
                                </li>
                                <li class="cdn-new-check-checked">
                                    <span>应用名称详情</span>
                                    <i class="cdn-domain-checked"></i>
                                </li>
                                <li>
                                    <span>应用名称详情</span>
                                    <i class="cdn-domain-checked"></i>
                                </li>
                                <li>
                                    <span>应用名称详情</span>
                                    <i class="cdn-domain-checked"></i>
                                </li>
                                <li class="cdn-new-check-checked">
                                    <span>应用名称详情</span>
                                    <i class="cdn-domain-checked"></i>
                                </li>
                                <li>
                                    <span>应用名称详情</span>
                                    <i class="cdn-domain-checked"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cdn-new-buttons">
                    <a class="cdn-new-submit" href="javascript:void(0);">提交</a>
                    <a class="cdn-new-cancel" href="javascript:void(0);">取消</a>
                </div>
            </div>
        </div>
        <!--新增配置弹出层 end-->
    </div>
    <!--CDN新增配置 end-->
</div>
