@charset "utf-8";
/*共用样式 str*/
.con-border{border: 1px solid #37638c;}
.tag{
  display: block;
  width:6px;
  height: 6px;
  background: transparent;
  border-top: 1px solid #7cc8d1;
  border-left: 1px solid #7cc8d1;
  position: absolute;
}
.tag-tl{top: -1px;left: -1px;}
.tag-tr{transform: rotate(90deg); top: -1px;right: -1px;}
.tag-bl{transform: rotate(-90deg);bottom: -1px;left: -1px;}
.tag-br{transform: rotate(180deg);bottom: -1px;right: -1px;}
/*共用样式 end*/
/*平均响应时间*/
.con-head{height: 18px;line-height: 18px;}
.con-htxt{font-size: 12px;color: #009fe8;float: left;}
.con-hr{
    float: right;
    color: #9eb2dd;
    padding: 0px 4px;
    height: 16px;
    line-height: 16px;
    background: rgba(8,26,57,.7);
    border: 1px solid rgba(3,60,147,.7);
}
.con-hcircle{width: 10px;height: 10px;border-radius: 50%;display: inline-block;}
.green-circle{background: #68b960;}
.con-hnum{margin-left: 12px;}
.con-response{margin-bottom: 18px;background: #031522;}
.con-response-chart{height: 184px;background: transparent !important;}
.container-crash{
  padding: 10px 14px 20px 10px;
}
.container-crash.redhigh{
  background:url('images/collapse-bg.png') no-repeat;
  background-size: 100% 100%;
}